html{
  background: url(https://images.unsplash.com/photo-1457904375453-3e1fc2fc76f4?auto=format&fit=crop&w=2100&q=80) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

h1{
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-shadow: 2px 4px 5px black
}

#calc{
  background-color: blue;
  width: 250px;
  height: 350px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
  margin: 50px auto;
  box-shadow: 0px 0px 3px 6px #ccc
}

#display{
  margin-bottom: 20px;
  height: 30px;
  width: 10em;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px black;
  text-align: right;
  font: 20px bold;
}

#keys{
  background-color: orange;
  width: 41px;
  height: 35px;
  margin: 4px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 1px black;
  outline: none;
  text-align: left;
}

#equal{
  width: 94px;
  height: 35px;
  margin: 4px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 1px black;
}


